<h1>Interview Questions</h1>

These are the most frequently asked questions for this company. Please check the ones you were asked. Questions may not bethe exact wording you were asked (e.g., "Walk me through your resume" vs "Tell me about yourself"), so please use your best judgment. If it seems close enough to the question you were asked, please select yes. You will have the option to submit additional questions not listed here on the next page. 


<%@interview_question_entries=InterviewQuestionEntry.where({:company_roles_id=>@company_id}).order({:frequency=>:desc})%>

<hr>

<div>
  <form action="/new_questions"> <!-- figure out if this route already exists-->
    <%@question_number=0%>
    <%@interview_question_entries.each do |a_question|%>
    <%question_id=a_question.question_id%>
    <%@question=Question.where({:id=>question_id}).at(0)%>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="question<%@question_number%>">
      <label class="form-check-label" for="question<%@question_number%>">
         <%=@question.text%>
      </label>
    </div>
    <%@question_number=@question_number+1%>
    <%end%>
  
<hr>

<label>How many additional questions not listed above do you want to add to your submission</label>
<select class="form-select mb-3 w-50" id="new_q_number" name="new_q_number">
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>

<input name="company_id" type="hidden" value="<%=@company_id%>">
<input name="role_id" type="hidden" value="<%=@role_id%>">
<input name="round" type="hidden" value="<%=@round%>">

<button class="btn btn-primary">Next</button>
  
</form>
</div>
