<h1>General Information</h1>
Congratulations! We hope your interview went well. Please fill out this form to let us know the questions you were asked during your interview!
<hr>
<form action="/interview_format">
  <div class="mb-1">
    <label for="company">Company</label> 
    <input id="company" name="company">
  </div>
  <div class="mb-1"> <!--make this a dropdown-->
    <label for="position_type">Was this interview for an internship or full-time position?</label>
    <input id="position_type" name="position_type">
  </div>
  <div class="mb-1"> <!--make this a dropdown with an other option. Other could be a modal that allows you to type in and then that modal redirects to a position type add that's then selected in the dropdown?-->
    <label for="role">Role</label>
    <input id="role" name="role">
  </div>
  <div class="mb-1"> <!--make this a dropdown with an other option-->
    <label for="round">Interview Round</label>
    <input id="round" name="round">
  </div>

  <button class="btn btn-primary">Next</button>
  
</form>
