<h1>General Information</h1>
Congratulations! We hope your interview went well. Please fill out this form to let us know the questions you were asked during your interview!
<hr>
<form action="/interview_format">
  <div class="mb-1">
    <label for="company">Company</label>
    <select class="form-select mb-3 w-50" id="company" name="company">
      <option selected value="0"></option>
      <%@companies_list=CompanyRole.all.order({:name=>:asc})%>
      <%@company_names=@companies_list.uniq{|company| [company.name]}%>
      <%@company_names.each do |a_company|%>
      <option value="<%=a_company.name%>"><%=a_company.name%></option>
      <%end%>
    </select>
  </div>
  <div class="mb-1">
    <label for="company_other">Other:</label> 
    <input id="company_other" name="company_other">
  </div>

<hr>
  <div class="mb-1"> 
    <label for="position_type">Was this interview for an internship or full-time position?</label>
    <select class="form-select mb-3 w-50" id="position_type" name="position_type">
      <option selected></option>
      <option value="Full-time">Full-time</option>
      <option value="Internship">Internship</option>
    </select>
  </div>

  <hr>

  <div class="mb-1">
    <label for="role">Role</label>
    <select class="form-select mb-3 w-50" id="role" name="role">
      <option selected value="0"></option>
      <%@roles_list=Role.all.order({:name=>:asc})%>
      <%@role_names=@roles_list.uniq{|role| [role.role]}%>
      <%@role_names.each do |a_role|%>
      <option value="<%=a_role.role%>"><%=a_role.role%></option>
      <%end%>
    </select>
  </div>

  <div class="mb-1">
    <label for="role_other">Other:</label> 
    <input id="role_other" name="role_other">
  </div>
  <hr>


  <div class="mb-1"> 
    <label for="round">Interview Round</label>
    <input id="round" name="round">
  </div>

  <button class="btn btn-primary">Next</button>
  
</form>
