<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div class="w-25 mb-3 p-3">
    <label for="email_box" class="form-label">Email</label>
    <input class="form-control" id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>

  <div class="w-25 mb-3 p-3">
    <label for="password_box" class="form-label">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="form-control">
  </div>

  <div class="w-25 mb-3 p-3">
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
