<!DOCTYPE html>
<html>
  <head>
    <title>BTG Interview Question Bank</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <table>
  <tr>
    <td>
      <a href="/">Home</a>
      </td>
    <td>
      <a href="/">New Interview Entry</a>
    </td>
    <td>
      <a href="/">Look Up Interview Data</a>
    </table>
    <%= yield %>
  </body>
</html>
